@import 'variables';

//main heading in color purple
.heading-alt {
  padding-top: 1em;
  margin-top: 1.5em;
  font-family: $sans-serif;
  color: $primaryColor;
  text-align: center;
}

.sub-heading-line {
  position: relative;
  text-align: center;
}

.sub-heading-line:after {
  content: '';
  margin-top: 0.5em;
  width: 100%;
  border-bottom: solid 2px $primaryColor;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}

.sub-heading {
  margin-top: 0.9em;
  font-size: 1.4em;
  background-color: #fbeaff; /* Same as the parents Background */
  color: $black;
  width: auto;
  display: inline-block;
  padding: 0 0.6em;
  z-index: 2;
  position: relative;
}

//list of store items
.store-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-image-container {
  position: relative;
  width: 60%;
  margin-top: 1.2em;
  overflow: hidden;
}

//store item image
.item-image {
  z-index: 1;
  width: 100%;
  max-width: 100%;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

//image overlay for items
.image-overlay {
  z-index: 2;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.image-overlay:hover ~ .item-image {
  transform: scale(1.1);
}

//background behind item name and price
.item-background {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  bottom: 0;
}

.item-name {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}

.item-price {
  padding-bottom: 0.6em;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.1em;

  img {
    width: 32px;
    margin-right: 0.2em;
    vertical-align: -30%;
  }
}

//item rarity backgrounds
.Legendary,
.Fine {
  background: radial-gradient(#ea8d23, #78371d);
  border: 5px solid #e98d4b;
  overflow: hidden;
}

.Epic {
  background: radial-gradient(#c359ff, #4b2483);
  border: 5px solid #e95eff;
  overflow: hidden;
}

.Rare,
.Sturdy {
  background: radial-gradient(#2cc1ff, #143977);
  border: 5px solid #37d1ff;
  overflow: hidden;
}

.Handmade {
  background: radial-gradient(#69bb1e, #175117);
  border: 5px solid #87e339;
  overflow: hidden;
}

.Quality {
  background: radial-gradient(#c359ff, #4b2483);
  border: 5px solid #e95eff;
  overflow: hidden;
}
