@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Halant&display=swap');

$sans-serif: 'Poppins', sans-serif;
$serif: 'Halant', serif;

$primaryColor: #845ec2;
$black: #333;
