@import 'variables';
@import 'nav';
@import 'header';
@import 'store';
@import 'matches';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $serif;
  background-color: #fbeaff;
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  min-height: 90vh;
}

.container {
  width: 80%;
  margin: 0 auto;
  min-height: 90%;
}

.hide-mobile {
  display: none;
  width: 0;
}

//media queries

@media only screen and (max-width: 365px) {
  h1 {
    font-size: 1.7em;
  }

  .logo {
    margin-top: 0.15em;
  }

  .sub-heading {
    font-size: 1.2em;
  }

  .item-price {
    padding-bottom: 0.2em;
  }
}

@media only screen and (min-width: 440px) {
  .store-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .sub-heading {
    font-size: 1.6em;
  }

  .item-image-container {
    flex: 0 40%;
  }

  .item-price {
    padding-bottom: 0.4em;
  }
}

@media only screen and (min-width: 540px) {
  .container {
    width: 70%;
  }
}

@media only screen and (min-width: 700px) {
  .sub-heading {
    font-size: 1.6em;
  }

  .item-image-container {
    flex: 0 30%;
  }

  .footer-flex {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-text {
    text-align: end;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 60%;
  }

  .sub-heading {
    font-size: 1.9em;
  }

  h1 {
    font-size: 2.5em;
  }

  .show-desktop {
    display: block;
    margin: 0 auto 13% auto;
  }

  .hide-desktop {
    display: none;
  }

  .hide-mobile {
    width: inherit !important;
  }

  nav ul {
    background: none;
    position: inherit;
    width: auto;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    transition: none;
  }

  nav ul li {
    padding-top: 1em;
    float: left;
  }

  nav ul li a {
    color: white;
    background-color: inherit;
    border: none;
    padding: 0;
    margin-left: 2.5em;
    display: inline;
  }

  nav ul li a:hover {
    color: $highlight;
  }
}
