@import 'variables';
@import 'nav';
@import 'header';
@import 'store';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $serif;
  background-color: #fbeaff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.hide-mobile {
  display: none;
}
